<ion-view>
  <ion-content padding="true" class="tum-background">
    <div class="list tum-list primary">
      <div class="item item-image">
        <img src="/images/logo.png" alt=""/>
      </div>
      <div class="row item tum-block-btn">
        <div class="col-50">
          <a ui-sref="app.category" class="button button-block tum-btn-primary">
            <i class="icon ion-music-note"></i>
            Make
          </a>
        </div>
        <div class="col-50">
          <a ui-sref="app.tummySong" class="button button-block tum-btn-secondary">
            <i class="icon ion-play"></i>
            Play
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
