<ion-view>
  <ion-content padding="true" class="tum-background">
    <div class="list tum-list primary">
      <div class="item text-center">
        <div class="item-icon-left">
          <a href="" ng-click="goBack()" class="icon ion-ios-arrow-back tum-back"></a>
        </div>
        <h2 style="text-transform: capitalize">Tummy Music</h2>
        <div class="item-icon-right">
          <a ui-sref="app.path" class="icon ion-close tum-exit"></a>
        </div>
      </div>
      <a class="item" ui-sref="app.songsView({id: song.soundCloudId, voicePath: song.voicePath})" ng-repeat="song in musicList.results">
        <h2>{{song.title}}</h2>
        <p>{{song.comment}}</p>
      </a>
      <div class="item text-center"></div>
    </div>
  </ion-content>
</ion-view>
