.tum-btn-primary {
  background: #18b1e7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
  border-bottom: 3px solid #0c789d;
  font-weight: bold;
  color: white;
  overflow: hidden;

  > .icon {
    display: block;
    margin-top: 15px;

    &:before {
      font-size: 40px;
    }
  }

  &:hover, &:focus {
    background: #0c789d;
    border-bottom: 3px solid #0c789d;
    color: white;
  }
}

.tum-btn-secondary {
  background: #8cc63f;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
  border-bottom: 3px solid #588527;
  font-weight: bold;
  color: white;
  overflow: hidden;

  > .icon {
    display: block;
    margin-top: 15px;

    &:before {
      font-size: 40px;
    }
  }

  &:hover, &:focus {
    background: #588527;
    border-bottom: 3px solid #588527;
    color: white;
  }
}

.tum-btn-category {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  color: white;

  &.blue {
    background: #3f77bc;
  }
  &.green {
    background: #71bf47;
  }
  &.yellow {
    background: #febc11;
  }
  &.pink {
    background: #e82991;
  }
  &.purple {
    background: #61236a;
  }

  &:hover, &:focus {
    opacity: 0.8;
    color: white;
  }
}

.tum-input {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;

  > input {
    box-shadow: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    padding: 25px 20px;
    border: 1px solid #d2d2d4;
    background: #fafafc;
  }
}

.tum-block-btn {
  border: none;
  padding-top: 0;
  padding-bottom: 0;

  > .col-50 {
    padding: 10px;
  }
}
